---
layout: default
---
{% include postNavigation.html %}
{% if page.conToc %}
<h1>{{ page.title }}</h1>
{% endif %}
        <div>
            {% if page.conToc %}
                {% include toc.html html=content class="atypora-menu" id="menu"%}
            {% endif %}
            <div id="menuContainer">
                {% if page.conToc %}
                    {% include toc.html html=content class="typora-menu-hidden" id="menuFixed"%}
                {% endif %}
                <div class="top-hidden" id="topFixed">
                    <a class="toogle expanded pull-left js-toolbar-action" aria-label="" href="#"><i class="fas fa-align-justify"></i></a>
                </div>
            </div>
        </div>
        <div id='content'>
        {{ content }}
        </div>
        <div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
    this.page.url = 'https://patrickcampillo.github.io/{{ site.baseurl }}{{page.url}}';  // Replace PAGE_URL with your page's canonical URL variable
    };
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://https-patrickcampillo-github-io.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        {% include postNavigation.html %}
        
